html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Open Sans', sans-serif;
    background: url("../images/background4.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    backdrop-filter: sepia(0%);
}

.hidden {
    display: none;
}