html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Open Sans', sans-serif;
    background-color: #4c2e83;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hidden {
    display: none;
}